*{
    margin: 0px;
    padding: 0px;
}
/*header*/
.headerH3{
    color: white;
    margin-left: 50px;
    font-size: 20PX;
}
.container-fluid{
    background-color: #00739F;
   height: 70px;
}
.navbar{
    padding: 0px;
}
.sair{
    border: none;
    color: white;
    background-color: red;
    height: 35px;
    width: 65px;
    margin-right: 100px;
}
/*faixa lateral*/
#navegacaoPaginas{
    display: block;
    background-color: rgb(245 250 255);
    height: 850px;
    width: 300px;
    
 
}
.row{
    margin: auto;
    width: 100%;
}
#logo{
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 70px;
    height: 17%;
}
.paginas{
    margin-bottom: 20px;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgb(9, 105, 168);
    height: 60px;
    width: 250px;
}
#principal{
   
    width: 1000px;
    display: block;
    background-color: rgb(245 250 255);
}
#sistema{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    background-color: #00739F;
   border-radius: 5px;
}
.r{
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    margin-left: 30px;
    background-color: rgb(255, 255, 255);
    height: 250px;
    width: 250px;
}
.x{
    width: 530px ;
}
.imgPequenas{
    margin-top: 30px;
    max-width: 35%;
}